@charset "UTF-8";
.list {
    height: 150px;
    width: 250px;
    font-size: 12pt;
}
.list2 {
    height: 100px;
    width: 150px;
    font-size: 10pt;
}
.table {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#fileType {
    font-size: 9pt;
}
.short {
    width: 50px;
}
#fileStatus, #submitStatus {
    color: red;
}
.description {
    height: 150px;
    width: 250px;
    font-size: 12pt;
    padding-left: 5px;
}
.description2 {
    height: 100px;
    width: 150px;
    font-size: 10pt;
    padding-left: 5px;
}
.description3 {
    height: 100px;
    width: 100%;
    font-size: 10pt;
    padding-left: 5px;
}
.cellTxt {
    font-size: 12pt;
}
.input {
    height: 35px;
    width: 250px;
    padding-left: 5px;
    font-size: 12pt;
}
.input3 {
    height: 35px;
    width: 100%;
    padding-left: 5px;
    font-size: 12pt;
}
#stepsTxt {
    margin-top: 5px;
    padding-left: 5px;
}
#stepsCell {
    padding-bottom: 5px;
}
#amountTxt {
    width: 50px;
    height: 35px;
}
.units {
    height: 35px;
}
